body {
    margin: 0 auto;
    background-color: rgb(26, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: black;
    height: 90px;
}

.navbar {
    padding: 6px;
    border: none;
    position: absolute;
    top: 10px;
    left: 275px;
    font-size: 12px;
    width: 730px;
    border: 1px solid #ccc;
}

#navbar-image {
    height: 50px;
    width: auto;
    position: absolute;
    top: 10px;
    left: 15px;
}

.navbar-btns {
    width: 50px;
    display: block;
    color: white;
    background-color: rgb(140, 24, 27);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 13px;
    position: absolute;
    top: 6px;
}

.navbar-btn1 {
    left: 1040px;
}

.navbar-btn2 {
    left: 1145px;
}

.hero {
    color: white;
    text-align: left;
    position: relative;
    left: 250px;
    bottom: 285px;
    margin: 0;
}

#hero-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center 137%;
}

#hero-image2 {
    height: 70px;
    width: 102px;
    position: relative;
    left: 255px;
    bottom: 280px;
}

.text {
    margin: 0;
}

.columns-container {
    color: white;
    text-align: center;
    height: 260px;
    width: 100%;
    position: relative;
    bottom: 190px;
    left: 110px;
}

.columns-headline {
    color: white;
    position: relative;
    left: 390px;
    bottom: 240px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 4px 4px 2px silver;
}

.column {
    background-color: rgba(35, 90, 141);
    border-radius: 15px;
    height: 210px;
    width: 310px;
    float: left;
    margin: 0 18px;
}

.column-btns {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 8px 4px;
    position: absolute;
    bottom: 60px;
}

.column-btn3 {
    left: 110px;
}

.column-btn4 {
    left: 460px;
}

.column-btn5 {
    left: 805px;
}

footer {
    background-color: black;
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
}

#footer-image {
    height: 65px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}